<nav class="fixed top-0 w-full bg-primary-white text-primary-dark border z-50">
  <div class="m-2 flex items-center justify-between xl:mx-10 xl:my-4">
    <!-- logo -->
    <div>
      <h1
        class="text-xl text-primary-dark xl:text-3xl font-bold cursor-pointer"
      >
        <a [routerLink]="['/']"> Game<span>Shop</span> </a>
      </h1>
    </div>

    <!-- main links -->
    <ul class="hidden md:flex items-center gap-8 font-semibold xl:text-lg">
      <a [routerLink]="['/products']" [routerLinkActive]="['active']">
        <li
          class="cursor-pointer transition-all duration-75 hover:border-b-2 border-blue-700"
        >
          All Products
        </li>
      </a>
      <a href="/playstation">
        <li
          class="cursor-pointer transition-all duration-75 hover:border-b-2 border-blue-700"
        >
          PlayStation
        </li>
      </a>
    </ul>

    <div class="flex items-center space-x-4">
      <fa-icon [icon]="faSearch"></fa-icon>
      <div class="relative cursor-pointer" [routerLink]="['/cart']">
        <span
          class="bg-[#d81159] h-[20px] w-[20px] text-primary-white shadow-md rounded-[50%] flex items-center justify-center absolute top-[-10px] right-[-10px]"
          >0</span
        >
        <fa-icon [icon]="faShoppingCart" class="cursor-pointer"></fa-icon>
      </div>
    </div>
  </div>
</nav>
