<div class="flex items-center gap-8 flex-col justify-center">
  <a [routerLink]="['/products', product.id]">
    <div className="w-[90%] hover:scale-105 transition-all duration-100">
      <img [src]="product.image" [alt]="product.name" class="rounded-xl" />
    </div>
    <div className="mt-2">
      <p className=" text-gray-700 text-lg h-16">{{ product.name }}</p>
      <p className="font-bold">${{ product.price }}.00</p>
    </div>
  </a>

  <button
    class="bg-primary-dark flex items-center justify-center gap-3 text-white font-semibold py-3 w-[90%]"
  >
    <p className="xl:text-2xl xl">
      <fa-icon [icon]="shoppingCart"></fa-icon>
    </p>
    Add to Cart
  </button>
</div>
