<div class="xl:mx-10 my-14">
  <app-products
    [headerText]="'Best Seller Products'"
    [subText]="'These products are running out of stock. Get yours NOW'"
    [data]="bestsellers"
  ></app-products>
  <app-products
    [headerText]="'Controllers and Accessories'"
    [subText]="
      'Lots of controllers for different platforms to choose from! Accessories too!'
    "
    [data]="controllers"
  ></app-products>
  <app-products
    [headerText]="'Consoles'"
    [subText]="'All of your favorite consoles in one place!'"
    [data]="controllers"
  ></app-products>
</div>
